@font-face {
	font-family: "PTSansRegular";
	src: url("../css/fonts/Regular.eot");
	src: url("../css/fonts/Regular.eot?#iefix") format("embedded-opentype"),
		 url("../css/fonts/Regular.woff") format("woff"),
		 url("../css/fonts/Regular.ttf") format("trutype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PTSansBold";
	src: url("../css/fonts/Bold.eot");
	src: url("../css/fonts/Bold.eot?#iefix") format("embedded-opentype"),
		 url("../css/fonts/Bold.woff") format("woff"),
		 url("../css/fonts/Bold.ttf") format("trutype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PTSansItalic";
	src: url("../css/fonts/Italic.eot");
	src: url("../css/fonts/Italic.eot?#iefix") format("embedded-opentype"),
		 url("../css/fonts/Italic.woff") format("woff"),
		 url("../css/fonts/Italic.ttf") format("trutype");
	font-weight: normal;
	font-style: normal;
}